@import 'normalize.less';
@import 'elements.less';

// fix box model
* { margin: 0; padding: 0 }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// COLORS / TYPOGRAPHY / MIXINS 
// Colors
@back:          white; 
@high:          #E3242A; 
@linkhigh:      #3FA9F5; 
@dark:          rgb(46,54,57);
@light:         white;
@gray:          #a4a4a4;
@lgray:         rgb(231,231,231); 

// Type
.sans       { font-family: 'Titillium Web', sans-serif; }
.sans-alt   { font-family: 'Open Sans', sans-serif; }
.serif      { font-family: 'Droid Serif', serif; font-weight: normal; }

// Mixins

// TOP LEVEL
html, body    { height: 100%; background-color: @back; .sans-alt; font-size: 14px;  }
h1, h2, h3, h4  { margin: 0 0 0.3em 0; font-weight: normal; color: @high; }
h4 { font-size: 1.2em; }
a { color: @linkhigh; text-decoration: none; &:hover { text-decoration: underline; } }
p { line-height: 1.8em; }
// http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -100px;  }
.container { width: 1060px; margin: 0 auto; }

// HEADER
header { background-color: @lgray; padding: 5px; }
header img { float: left; height: 70px; }
nav { font-weight: 600; 
    ul { list-style: none; padding: 30px 30px; }
    li { display: inline; padding-left: 30px; }
    a { text-decoration: none; color: @dark; }
    a:hover { text-decoration: none; color: @high; }
}

// WELCOME STRIPE
.welcome { background-color: @dark; color: @light; padding: 20px; }
.greet-banner { color: @high; font-size: 3em; font-weight: 300; float: left; padding: 0 30px 0 0; margin-right: 30px; border-right: 1px solid @light;  }
.welcome p { font-size: 1.2em; line-height: 1.5em; padding: 5px 0;}

.main { width: 72%; float: left; margin: 1em 0; }

// LATEST
.latest { margin: 1em 0 7em; border-bottom: 1px solid @lgray; }
.paper { .serif; margin-top: 1em; border-bottom: 1px solid @lgray;
    h1, h2, h3, h4 { color: @dark; margin-bottom: 0.5em; }
    h1 { font-weight: bold; }
}
.writeup { margin: 0.5em 0; 
    p + p { margin-top: 2em; }
    h2 { margin: 1em 0; }
    ol { margin-left: 2em; li { margin-top: 1em; }}
    .byline { border-bottom: 1px solid @lgray; padding-bottom: 0.5em; margin-bottom: 0.5em; }
    .tags { float: right; }
    .journal-club { background-color: @lgray; margin: 2em 0; padding: 0.01em 2em 2em; }
}
.interact { padding: 0.5em 0 1em;
    ul { float: right; list-style: none; }
    li { display: inline; margin: 0 1em 0 0; border: 0px solid @lgray; }
    li:last-child { margin-right: 0; }
    .count { font-size: 0.7em; padding: 0.2em 0.6em; background-color: @linkhigh; color: @back; .rounded(8px); }    
}

// BLOG LATEST
.latest-blog { padding: 1em; margin: -4em 0 3em; background-color: @lgray;
    h1 { color: @dark; }
    .tags { float: right; }
    .byline { margin-bottom: 1em; }
       
}

// SIDEBAR
.sidebar { float: right; width: 25%; margin-top: 1em;}
.action-panel { background-color: @lgray; margin-bottom: 1em; padding: 1em;  
    h2 { color: @dark; }
}
.canonical { background-color: @high; text-align: center; margin: 0 0 1em; padding: 1em; 
    a, a:hover { font-size: 1.4em; color: @light; }
}

.sep { border-top: 2px solid @lgray; margin-bottom: 1em; }
