{% extends 'base.html' %}
{% block content %}
<div class="container">
    
    <div class="sidebar">
        <div class="action-panel canon-nav">
            <h1>CATEGORIES</h1>
            <ul>
                {% for tag in tags %}
                <li><a href="#{{ tag.title }}">{{ tag.title|upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="main">
        {% for tag in tags %}
            <h1 id="{{ tag.title }}">{{ tag.title|upper }}</h1>
            {% for article in tag.sharedArticle %} 
            <div class="canon-entry">
                <div class="paper">
                    <h3>{{ article.title }}</h3>
                    <h4>{% if article.lname !="" %} by {{ article.fname }} {{ article.lname }} <i>et al.</i> |{% endif %}
                    {{ article.journal }} | {{ article.year }} | <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ article.pmid }}">PubMed <i class="fa fa-external-link"></i></a></h4>
                </div>  
                {% if article.ownReview is not empty %}
                    {% for review in article.ownReview %}<p><strong>REVIEW: </strong>{{ review.teaser|raw }} <a href="{{ base_url }}/review/{{ review.id }}">Read more...</a></p>{% endfor %}
                {% endif %}
                <div class="interact">
                    <ul>
                        <li><a href="{{ base_url }}/interact/vote/up/{{ article.id }}"><i class="fa fa-thumbs-up"></i> Canon-worthy</a> <span class="count">{{ article.voteup }}</span></li>
                        <li><a href="{{ base_url }}/interact/vote/down/{{ article.id }}"><i class="fa fa-thumbs-down"></i> Drop it</a> <span class="count">{{ article.votedown }}</span></li>
                        <li><a href="#"><i class="fa fa-comment"></i> Discuss</a> <span class="count">{{ article.comments }}</span></li>
                    </ul>
                </div>
            </div>
        
            {% endfor %}
        
        {% endfor %}
        
    </div>
</div>
{% endblock %}





