{% extends 'base.html' %}
{% block content %}

 <div class="welcome">
    <div class="container">
            <div class="greet-banner">WELCOME</div>
            <p><strong>EM:Canon</strong> is an evolving collection of the most important papers in Emergency Medicine.<br />Browse the papers & reviews. Vote on canon-worthy papers. Submit a paper to the canon.</p>
        </div>
    </div>
    
    
    <div class="container">
        
        <div class="sidebar">
            <div class="canonical">
                <a href="#"><i class="fa fa-arrow-circle-right"></i> Browse the <strong>EM:Canon</strong></a>
            </div>
            
            <div class="sep"></div>
            
            <div class="action-panel">
                <h4>SUBMIT A PAPER TO THE EM:CANON</h4>
                <p>Think we're missing a classic? Submit it to <strong>EM:Canon</strong> for voting by entering the PubMed ID for the paper.</p>
                <form id="add-article">PMID: <input id="add-PMID" name="PMID" /></form>
                <p class="add-response"></p>
                
            </div>
            
              <div class="action-panel">
                <h4>GET INVOLVED</h4>
                <p>Visit the complete <a href="#">EM:Canon</a> to discuss and vote on canon-worthy papers.</p>
                <p>Interested in writing a review? <a href="#">Send us an e-mail</a> and we'll be in touch.</p>
            </div>
            
        </div>
        
        
        <div class="main">
            
            <h4>LATEST REVIEW</h4>
            {% include "latest.html" %}
            
            <div class="latest-blog">
                <h4>FROM THE BLOG</h4>
                <h1>Here's a Blog Post Title</h1>
                <p class="byline">11 Nov 2013 | Jeremy voros, MD <span class="tags"><i class="fa fa-tags"></i> toxicology</span></p>
                <p>Sriracha jean shorts dolor, assumenda kitsch ea in tattooed forage. PBR reprehenderit gastropub squid. Terry Richardson placeat voluptate church-key lomo readymade.</p>
            </div>
            
            
            <h4>RECENT REVIEWS</h4>
            {% for latest in recent %}
                {% include "latest.html" %}
            {% endfor %}
            
            <a href="{{ base_url }}/reviews/2">MORE REVIEWS <i class="fa fa-arrow-circle-right"></i></a>
            
        </div><!-- /main --> 
        
    </div><!-- /container -->

{% endblock %}



