<div class="latest">
                
    <div class="paper">
        <h1>{{ latest.article.title }}</h1>
        <h4>{% if latest.article.lname !="" %} by {{ latest.article.fname }} {{ latest.article.lname }} <i>et al.</i> |{% endif %}
             {{ latest.article.journal }} | {{ latest.article.year }} | <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ latest.article.pmid }}">PubMed <i class="fa fa-external-link"></i></a></h4>
    </div>
    <div class="writeup">
        <div class="byline">10 Oct 2013 | Reviewer: {{ latest.user.name }} <span class="tags"><i class="fa fa-tags"></i> &nbsp; {% for tag in latest.article.sharedTag %}<a href="#" class="tags">{{ tag.title }}</a> {% endfor %}</span></div>
        <p><strong>TAKEHOME MESSAGE: </strong><br />{{ latest.teaser|raw }}</p>
    </div>
    <div class="interact">
        <a href="{{ base_url }}/review/{{ latest.id }}">READ THE COMPLETE REVIEW <i class="fa fa-chevron-right"></i></a>
        <ul class="pull-right"> 
            {% include 'vote.html' with { 'article' : latest } %}
        </ul>
        <div class="clear-fix"></div>
    </div>
</div>

