{% extends 'base.html' %}
{% block content %}

{% for latest in all %}
<section class="latest">
    <div class="title">
        <h2>{{ latest.article.title }}</h2>
        <p class="pubmedid"><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ latest.article.pmid }}">PubMed <i class="icon-external-link"></i></a></p>
                <h4>
            {% if latest.article.lname != '' %}
                by {{ latest.article.fname }} {{ latest.article.lname }} <i>et al.</i> | 
            {% endif %}
            <i>{{ latest.article.journal }}</i> {{ latest.article.year }}
        </h4>
        
    </div>
    <div class="summary">
        <p><span class="labels">TAKE HOME:</span> {{ latest.teaser|raw }} <a href="/emcanon/writeup/{{ latest.id }}">Read more...</a></p>
        <p class="cats"><i class="labels icon-tags"></i> 
            {% for tag in latest.article.sharedTag %}<a href="#" class="tags">{{ tag.title }}</a>{% endfor %} 
        </p>
        <p><i class="labels icon-pencil"></i> {{ latest.user.name }}</p>
    </div>
    <div class="interact">
        <span class="">DOES THIS PAPER BELONG IN THE CANON?</span>
        <span class="voteyes"><span class="votecount">{{ latest.voteup }}</span> <a href="#">Yes <i class="icon-thumbs-up"></i></a></span>
        <span class="voteno"><span class="votecount">{{ latest.votedown }}</span> <a href="#">No <i class="icon-thumbs-down"></i></a></span>
        <span class="discuss"><span class="votecount">12</span> <a href="#">Discuss <i class="icon-comments"></i></a></span>
    </div>
</section>
{% endfor %}

{% if next > 1 %} <a href="http://localhost/emcanon/writeups/{{ next }}">More Writeups</a> {% endif %}

{{ dump(test) }}

{% endblock %}
